<article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
  <div>
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div>
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header>
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p>
            <a href="<%- url_for(post.path) %>#more">Read More</a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
