<article id="<%= post.layout %>-<%= post.slug %>" itemscope itemprop="blogPost">
  <div>
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
  </div>
  <div>
    <% if (post.link || post.title){ %>
      <header>
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div itemprop="articleBody">
      <%- post.content %>
    </div>
  </div>
</article>
